name: E2E Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '15 6 * * *'
      
jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        liquibase: [4.6.0, 4.16.1]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20'

      - name: Setup GO environment
        run: |
          go mod download

      - name: Build
        run: make build

      - name: Setup
        run: |
          cp $PWD/bin/lpm /usr/local/bin/lpm
          mkdir $PWD/lib
          make test-setup

      - name: End to End Tests
        run: LIQUIBASE_HOME=$PWD/tests/mocks/liquibase/${{ matrix.liquibase }} make e2e
